<v-container grid-list-md grey lighten-4 fill-height>
    <v-layout>
        <v-flex xs10 offset-xs1>
            <v-tabs icons flat fixed>
                <v-tabs-bar color="blue darken-3">
                    <v-toolbar-title class="white--text body-2">ENCOUNTER: </v-toolbar-title>
                    <v-select class="dense-text-field ml-5 select-body-2" content-class="dense-select" style="max-width: 200px;" v-bind:items="statuses"
                        item-value="value" item-text="title" v-model="model.status" 
                        dark single-line dense label="STATUS" bottom>
                    </v-select>
                    <v-spacer></v-spacer>
                    <v-tabs-slider color="white"></v-tabs-slider>
                    <v-tabs-item key="patientInfo" href="#patientInfo" class="white--text caption">
                        <v-icon>account_box</v-icon>
                        PATIENT PROFILE
                    </v-tabs-item>
                    <v-tabs-item key="encounterHistory" href="#encounterHistory" class="white--text caption">
                        <v-icon>timeline</v-icon>
                        ENCOUNTER HISTORY
                    </v-tabs-item>
                    <v-tabs-item key="importOrder" href="#importOrder" class="white--text caption">
                        <v-icon>folder_open</v-icon>
                        IMPORT ORDER
                    </v-tabs-item>
                </v-tabs-bar>
                <v-tabs-items>
                    <v-container fluid v-if="loading">
                        <v-layout row wrap>
                            <v-flex class="text-xs-center">
                                <v-progress-circular indeterminate v-bind:size="150" color="primary"></v-progress-circular>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-tabs-content key="patientInfo" id="patientInfo">
                        <patientDetails v-if="!loading" :patientInfo="patientDetails"></patientDetails>
                    </v-tabs-content>
                    <v-tabs-content key="encounterHistory" id="encounterHistory">
                        eHis
                    </v-tabs-content>
                    <v-tabs-content key="importOrder" id="importOrder">
                        io
                    </v-tabs-content>
                </v-tabs-items>
            </v-tabs>
        </v-flex>
    </v-layout>
</v-container>