$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~vuetify/dist/vuetify.min.css";
@import "./vuetify-override/v-list.scss";
@import "./vuetify-override/v-table.scss";
@import "./vuetify-override/v-select.scss";

html, body, #app-main {
    height: 100%;
}

.anchor-link {
    text-decoration: none;

    &:hover {
        color: #115293;
    }
}