<v-layout row wrap>
    <v-flex xs12>
        <v-card>
            <v-card-title primary-title>
                <div class="col-xs-12">
                    <h5 class="headline mb-0">
                        <v-icon large>assignment</v-icon>
                        PATIENT DETAILS
                    </h5>
                </div>
            </v-card-title>
            <v-card-actions>
                <v-btn flat color="orange">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-flex>
</v-layout>