.custom-theme-expansion {
    .expansion-panel__header {
        background-color: #1565c0!important;
        color: white !important;

        .header__icon {
            i {
                color: white !important;
            }
        }
    }
}